<div class="friends-post-wrapper">
  <h3 class="friends-post-title">Friend's posts</h3>
  <div class="sort-wrapper">
    <button class="sort_button"
            *ngIf="friendsPosts.length && isSort"
            [ngClass]="isIncrease ? 'up' : 'down'"
            (click)="sortArray()">Sort</button>
  </div>
  <div class="posts-list">

    <div *ngIf="isEmpty"  class="empty-wrapper">
      <h3 class="empty">No Posts</h3>
    </div>
    <div class="single-post" *ngFor="let post of friendsPosts">
      <span class="post-headline">{{post.title}}</span>
      <p class="post-text">{{post.title}}</p>
      <span class="author-post">{{post.user.name}}</span>
      <span class="post-date">{{post.date}}</span>
    </div>
  </div>
  <div [style.visibility]="isError ?  'visible': 'hidden'"
       [style.opacity]="isError ? '1' : '0'"
       class="modal_wrapper">
    <div  class="modal_window">
      <button class="close_modal" (click)="isError = false">&#10006;</button>
      <span class="modal_text">Error!<br>Please refresh page</span>
    </div>
  </div>
</div>
