<div class="friends-post-wrapper">
  <h3 class="friends-post-title">Friend's posts</h3>
  <div class="sort-wrapper">
    <button class="sort_button"
            *ngIf="friendsPosts.length && isSort"
            [ngClass]="isIncrease ? 'up' : 'down'"
            (click)="sortArray()">Sort</button>
  </div>
  <div class="posts-list">

    <div *ngIf="isEmpty"  class="empty-wrapper">
      <h3 class="empty">No Posts</h3>
    </div>
    <div class="single-post" *ngFor="let post of friendsPosts">
              <span class="post-headline">{{post.title}}</span>
              <p class="post-text">{{post.text}}</p>
              <span class="author-post">{{post.name}}</span>
              <span class="post-date">{{post.date}}</span>
    </div>
  </div>

  <app-modal [isModal]="isError"
             [message]="'Error! Please try again'"
             (closed)="isError = $event"></app-modal>
</div>
