<div class="home-wrapper">
  <form class="main-block__search" [formGroup]="form" (ngSubmit)="getUsers()">
      <input type="text"
             id="search"
             [ngClass]="{invalid: form.get('name').invalid}"
             formControlName="name"
      >
      <button type="submit"
              class="search__btn"
              [disabled]="!form.get('name').value || form.invalid"
              [ngClass]="{disabled: !form.get('name').value || form.invalid}">Search</button>
    </form>
  <h3 class="empty" *ngIf="isEmpty">No users</h3>

  <div class="sort_list">
    <button class="sort_button"
            *ngIf="users.length && isSort"
            [ngClass]="isIncrease ? 'up' : 'down'"
            (click)="sortArray()">Sort</button>
  </div>
  <div class="main-block__usersList">
    <div class="single-user" *ngFor="let user of users" >
      <span class="search-user">{{user.name | titlecase}}</span>
      <img class="img-heart"
           src="assets/images/{{user.followers ? 'heart.png' : 'heart2.png'}}"
           alt="heart"
           (click)="changeState(user)">
    </div>
  </div>
    <app-modal [isModal]="isModal"
               [message]="'Error! Please try Again'"
               (closed)="isModal = $event"></app-modal>
</div>

