<div class="home-wrapper">
  <div class="main-block__search">
    <input type="text"
           id="search"
           [(ngModel)]="desiredUser"
           maxlength="50"
    >
    <button class="search__btn" (click)="getUsers()">Search</button>
  </div>
  <div class="sort_list">
    <label for="increase" class="label__checkbox">A-Z</label>
    <input type="radio" name="filter" id="increase" class="sort_item" value="1" checked>

    <label for="decrease" class="label__checkbox">Z-A</label>
    <input type="radio" name="filter" id="decrease" class="sort_item" value="0">
  </div>
  <div class="main-block__usersList"></div>
</div>

