<a routerLink="/sign-up" class="link-to-sign-up">Sign Up</a>
<form class="body__form" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="form__title">Sign in</h1>


  <label for="email" class="form__label">Email</label>
  <input [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
         formControlName="email"
         type="email" id="email"
         class="form__input"
         name="email">

  <label for="pass" class="form__label">Password</label>
  <input [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
         formControlName="password"
         type="password"
         id="pass"
         class="form__input"
         name="password">

  <button type="submit"
          class="form__submit"
          [ngClass]="{disabled: form.invalid}"
          [disabled]="form.invalid">Sign in</button>

  <span class="alert" *ngIf="auth.error$ | async as error">
    {{error}}
  </span>
</form>
