<a routerLink="/" class="link-to-sign-up">Sign In</a>
<form class="body__form" method="post" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="form__title">Sign up</h1>

  <label for="name" class="form__label">Name</label>
  <input [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
         formControlName="name"
         type="text"
         id="name"
         class="form__input"
         name="name">

  <label for="email" class="form__label">Email</label>
  <input [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
         formControlName="email"
         type="email"
         id="email"
         class="form__input"
         name="email">

  <label for="pass" class="form__label">Password</label>
  <input [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
         formControlName="password"
         type="password"
         id="pass"
         class="form__input"
         name="password">
  <span class="warning"
        *ngIf="(form.get('password').touched && form.get('password').errors)"
        >minimum password length 6 characters</span>
  <button type="submit"
          class="form__submit"
          [ngClass]="{disabled: form.invalid}"
          [disabled]="form.invalid">Sign up</button>

  <span class="alert" *ngIf="auth.error$ | async as error">
    {{error}}
  </span>

</form>

<app-modal [isModal]="isError"
           [message]="'Server error occurred! Please try Again'"
           (closed)="isError = $event"></app-modal>
