<div class="body">
<div class="header">
  <span class="header__text">Blog</span>
</div>
<main class="main">
  <div class="side-bar">
    <div class="userName">
      <a routerLink="/home" class="userName-link">
        <span class="userName-text"></span>
      </a>
    </div>
    <div class="side-bar__items">
      <a routerLink="/my-posts"  class="side-bar__links">My posts</a>
    </div>
    <div class="side-bar__items">
      <a routerLink="/friends-posts" class="side-bar__links">Friend's posts</a>
    </div>
    <div class="side-bar__items">
      <a routerLink="/add-post" routerLinkActive="active-link" class="side-bar__links">Add Post</a>
    </div>
    <div class="side-bar-logout">
      <button class="logout">Logout</button>
    </div>
  </div>
  <div class="main-block">
    <h3 class="add-post-title">Add new post</h3>
    <form class="add-post-form">
      <input type="text" class="post-name" placeholder="Post headline">
      <textarea class="post-body" placeholder="Post body"></textarea>
      <button class="add-post">Add</button>
    </form>
  </div>
</main>
