<div class="side-bar">
  <div class="userName">
      <span class="userName-text">{{name | titlecase}}</span>
  </div>
  <div class="side-bar__items">
    <a routerLink="/my-posts" class="side-bar__links" routerLinkActive="active-link">My posts</a>
  </div>
  <div class="side-bar__items">
    <a routerLink="/friends-posts" class="side-bar__links" routerLinkActive="active-link">Friends posts</a>
  </div>
  <div class="side-bar__items">
    <a routerLink="/add-post" class="side-bar__links" routerLinkActive="active-link">Add Post</a>
  </div>
  <div class="side-bar-logout">
    <button class="logout" (click)="logout()">Logout</button>
  </div>
</div>
