<div class="my-posts-wrapper">
  <h3 class="add-post-title">My posts</h3>

  <div class="posts-list">
    <h3 *ngIf="isEmpty">No posts</h3>
    <div class="single-post" *ngFor="let post of posts">
      <span class="post-headline">{{post.title}}</span>
      <p class="post-text">{{post.text}}</p>
      <span class="author-post">{{authorName | titlecase}}</span>
      <span class="post-date">{{post.date}}</span>
    </div>
  </div>

  <div [style.visibility]="isError ?  'visible': 'hidden'"
       [style.opacity]="isError ? '1' : '0'"
       class="modal_wrapper">
    <div  class="modal_window">
      <button class="close_modal" (click)="isError = false">&#10006;</button>
      <span class="modal_text">Error!<br>Please refresh page</span>
    </div>
  </div>
</div>


