<div class="side-bar">
  <div class="userName">
    <a routerLink="/home" class="userName-link">
      <span class="userName-text"></span>
    </a>
  </div>
  <div class="side-bar__items">
    <a routerLink="/my-posts" class="side-bar__links">My posts</a>
  </div>
  <div class="side-bar__items">
    <a routerLink="/friends-posts" class="side-bar__links">Friend's posts</a>
  </div>
  <div class="side-bar__items">
    <a routerLink="/add-post" class="side-bar__links">Add Post</a>
  </div>
  <div class="side-bar-logout">
    <button class="logout">Logout</button>
  </div>
</div>
